body {
    margin: 0;
    padding: 0;
    background: url('../img/main-background.png');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.puzzle-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    &-place-for-info {
        margin: 30px 0px;
        &-content {
            background: url('../img/bakground-date.png');
            width: 626px;
            height: 104px;
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            justify-content: space-between;
            &-first {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-left: 30px;
                span {
                    color: white;    
                    font-size: 19px;
                    @media (max-width: 600px) {
                        font-size: 16px;
                    }
                }
            }
            &-second {
                margin-right: 30px;
                button {
                    margin-top: 15px;
                    background: url('../img/btn.png');
                    border: none;
                    color: white;
                    font-size: 18px;
                    width: 95px;
                    height: 29px;
                    cursor: pointer;
                    border-radius: 50px;
                    background-size: cover;
                    @media (max-width: 700px) {
                        width: 71px;
                        height: 26px;
                        font-size: 16px;
                        margin-top: 10px;
                    }
                }
                .choose-again {
                    width: 190px;
                    background: url('../img/background-big.png');
                    background-repeat: no-repeat;
                    background-size: cover;
                    height: 34px;
                    font-size: 16px;
                    @media (max-width: 700px) {
                        margin-top: 10px;
                        width: 145px;
                        height: 30px;
                        font-size: 16px;
                    }
                }
            }
            @media (max-width: 700px) {
                width: 514px;
                height: 86px;
            }
            @media (max-width: 600px) {
                // width: 414px;
                background: url('../img/background-date-mobile.png');
                background-size: cover;
                background-repeat: no-repeat;
                background-position: bottom;
                width: 100%;
            }
        }
        @media (max-width: 700px) {
            margin: 10px 0px 20px 0px;
        }
        @media (max-width: 600px) {
            margin-top: 0;
            width: 100%;
        }
    }
    &-content {
        background: url('../img/main-field-bg.png');
        width: 600px;
        height: 600px;
        background-size: contain;
        background-color: rgba(61, 46, 60, 0.89);
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        .place-on-puzzle {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            width: 100%;
            border: 7px solid #2b232a;
            height: 100%;
            .puzzle-piece-container {
                box-sizing: border-box;
                .puzzle-piece {
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    background: rgba(61, 46, 60, 0.95);
                    border: 5px solid #DCA352;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 90px;
                    box-shadow: 0px 0px 5px 0px #00000080 inset;
                    color: #DCA352F5;
                }
                .puzzle-piece-correct {
                    color: green;
                }
            }
        }
        .puzzle-3 {
            .puzzle-piece-container {
                height: 33.333333%;
                width: 33.333333%;
                .puzzle-piece {
                    font-size: 80px;
                    @media (max-width: 550px) {
                        font-size: 50px;
                    }
                }
            }
        }
        .puzzle-4 {
            .puzzle-piece-container {
                height: 25%;
                width: 25%;
                .puzzle-piece {
                    font-size: 75px;
                    @media (max-width: 600px) {
                        font-size: 55px;
                    }
                    @media (max-width: 475px) {
                        font-size: 40px;
                    }
                }
            }
        }
        .puzzle-5 {
            .puzzle-piece-container {
                height: 20%;
                width: 20%;
                font-size: 60px;
                .puzzle-piece {
                    font-size: 60px;
                    @media (max-width: 700px) {
                        font-size: 45px;
                    }
                    @media (max-width: 600px) {
                        border: 3px solid #DCA352;
                    }
                    @media (max-width: 475px) {
                        font-size: 30px;
                    }
                }

            }
        }
        .puzzle-6 {
            .puzzle-piece-container {
                height: 16.66666667%;
                width: 16.66666667%;
                .puzzle-piece {
                    font-size: 45px;
                    @media (max-width: 600px) {
                        font-size: 35px;
                    }
                    @media (max-width: 475px) {
                        font-size: 25px;
                        border: 3px solid #DCA352;
                    }
                }
            }
        }
        .active-game-menu {
            display: flex !important;
        }
        .puzzle-blur {
            width: 600px;
            height: 600px;
            background-color: rgba(0, 0, 0, 0.349);
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &-mode {
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                    margin-bottom: 15px;
                    color: white;
                    font-size: 25px;
                }

                &-container-for-btns {
                    flex-wrap: wrap;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button {
                        background: url('../img/btn.png');
                        border: none;
                        color: white;
                        font-size: 18px;
                        width: 92px;
                        height: 29px;
                        cursor: pointer;
                        border-radius: 50px;
                        margin: 10px 10px;
                    }
                    .mode-selection-active {
                        filter: brightness(70%);
                    }
                }
            }
            &-start {
                margin-top: 30px;
                display: flex;
                justify-content: center;
                button {
                    background: url('../img/btn.png');
                    border: none;
                    color: white;
                    font-size: 18px;
                    width: 135px;
                    height: 33px;
                    cursor: pointer;
                    border-radius: 50px;
                    margin: 0px 10px;
                    background-repeat: round;
                }
            }
            @media (max-width: 700px) {
                height: 500px;
                width: 500px;
            }
            @media (max-width: 600px) {
                height: 400px;
                width: 400px;
            }
            @media (max-width: 475px) {
                height: 300px;
                width: 300px;
            }
        }
        .pause-game {
            display: none;
        }
        .pause-game-active {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 600px;
            height: 600px;
            background-color: #00000085;
            position: absolute;
            .pause-game-active-btn {
                cursor: pointer;
                svg {
                    path {
                        transition-duration: 0.2s;
                    }
                }
            }
            .pause-game-active-btn:hover {
                svg {
                    path {
                        fill: rgb(160, 160, 160);
                    }
                }
            }
            @media (max-width: 700px) {
                height: 500px;
                width: 500px;
            }
            @media (max-width: 600px) {
                height: 400px;
                width: 400px;
            }
            @media (max-width: 475px) {
                height: 300px;
                width: 300px;
            }
        }
        @media (max-width: 700px) {
            height: 500px;
            width: 500px;
        }
        @media (max-width: 600px) {
            height: 400px;
            width: 400px;
        }
        @media (max-width: 475px) {
            height: 300px;
            width: 300px;
        }
    }
}

.puzzle-piece {
    transition-duration: 0.15s
}

.puzzle-active-for-move {
    background: rgba(68, 56, 67, 0.95) !important;
    cursor: pointer;
}

.message {
    position: fixed;
    margin: 15px;
    width: 250px;
    background-color: #ac1d35;
    border: 1px solid red;
    border-radius: 5px;
    color: white;
    font-size: 15px;
    text-align: left;
    z-index: 100;
    padding: 15px;
    right: 0;
    top: 0;
}

.win-popup-unactive {
    display: none;
}

.win-popup {
    position: fixed;
    top:0;
    right: 0;
    background: #00000087;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    &-window {
        background: url(../img/win.png);
        width: 458px;
        height: 207px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        span {
            font-family: 'Sawarabi Mincho', sans-serif;
            margin-bottom: 15px;
            color: white;
            font-size: 25px;
            text-align: center;
        }
        .win-popup-window-stat {
            margin: 0px 40px;
            p {
                text-align: center;
                color: rgb(214, 214, 214);
            }
        }
        button {
            width: 190px;
            background: url(../img/background-big.png);
            background-repeat: no-repeat;
            background-size: cover;
            height: 34px;
            font-size: 16px;
            cursor: pointer;
            border-radius: 50px;
            border: none;
            color: white;
            margin-top: 15px;
        }
    }
}
button {
    transition-duration: 0.2s;
}

button:hover {
    filter: brightness(85%);
}