body {
    margin: 0;
    padding: 0;
}

* {
    margin: 0;
    padding: 0;
}

.puzzle-container {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &-content {
        background-color: gray;
        width: 750px;
        height: 750px;
            &-container {
                display: flex;
                flex-wrap: wrap;
                .puzzle-piece-container {
                    height: 250px;
                    width: 250px;
                    background-color: #fafafa;
                    border: 1px solid rgb(255, 255, 255);
                    box-sizing: border-box;
                    .puzzle-piece {
                        width: 100%;
                        height: 100%;
                        background: rgb(146, 146, 255);
                    }
                }
            }
    }
}