body {
    margin: 0;
    padding: 0;
    background: url('img/main-background.png');
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Sawarabi Mincho', sans-serif;
}

.puzzle-container {
    height: 100vh;
    width: 100%;
    display: flex;
    // justify-content: center;
    // align-items: center;
    flex-direction: column;
    align-items: center;
    &-place-for-info {
        margin: 30px 0px;
        &-content {
            background: url('img/bakground-date.png');
            width: 626px;
            height: 104px;
            background-size: contain;
            background-repeat: no-repeat;
            display: flex;
            justify-content: space-between;
            &-first {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                margin-left: 30px;
                span {
                    color: white;    
                    font-size: 19px;
                }
            }

            &-second {
                display: flex;
                justify-content: space-evenly;
                flex-direction: column;
                margin-right: 30px;
                button {
                    background: url('img/btn.png');
                    border: none;
                    color: white;
                    font-size: 18px;
                    width: 95px;
                    height: 29px;
                    cursor: pointer;
                    border-radius: 50px;
                }
            }
        }
    }
    &-content {
        background: url('img/main-field-bg.png');
        width: 600px;
        height: 600px;
        background-size: contain;
        background-color: rgba(61, 46, 60, 0.89);
        padding: 10px;
        position: relative;
        .puzzle-3 {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            .puzzle-piece-container {
                height: 200px;
                width: 200px;
                // background-color: #fafafa;
                // border: 1px solid rgb(255, 255, 255);
                box-sizing: border-box;
                .puzzle-piece {
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    background: rgba(61, 46, 60, 0.95);
                    border: 5px solid #DCA352;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 90px;
                    box-shadow: 0px 0px 5px 0px #00000080 inset;
                    color: #DCA352F5;

                }
                .puzzle-piece-correct {
                    color: green;
                }
            }
        }
        .puzzle-4 {
            display: flex;
            flex-wrap: wrap;
            position: absolute;
            .puzzle-piece-container {
                height: 150px;
                width: 150px;
                // background-color: #fafafa;
                // border: 1px solid rgb(255, 255, 255);
                box-sizing: border-box;
                .puzzle-piece {
                    box-sizing: border-box;
                    width: 100%;
                    height: 100%;
                    background: rgba(61, 46, 60, 0.95);
                    border: 5px solid #DCA352;
                    border-radius: 5px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    font-size: 90px;
                    box-shadow: 0px 0px 5px 0px #00000080 inset;
                    color: #DCA352F5;

                }
                .puzzle-piece-correct {
                    color: green;
                }
            }
        }
        .starting-the-game {
            // filter: blur(4px);
        }
        .puzzle-16 {

        }
        .active-game-menu {
            display: flex !important;
        }
        .puzzle-blur {
            width: 600px;
            height: 600px;
            background-color: rgba(0, 0, 0, 0.349);
            position: absolute;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            &-mode {
                display: flex;
                flex-direction: column;
                align-items: center;
                span {
                    margin-bottom: 15px;
                    color: white;
                    font-size: 25px;
                }

                &-container-for-btns {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    button {
                        background: url('img/btn.png');
                        border: none;
                        color: white;
                        font-size: 18px;
                        width: 95px;
                        height: 29px;
                        cursor: pointer;
                        border-radius: 50px;
                        margin: 0px 10px;
                    }
                    .mode-selection-active {
                        filter: brightness(70%);
                    }
                }
            }
            &-start {
                margin-top: 30px;
                display: flex;
                justify-content: center;
                button {
                    background: url('img/btn.png');
                    border: none;
                    color: white;
                    font-size: 18px;
                    width: 135px;
                    height: 33px;
                    cursor: pointer;
                    border-radius: 50px;
                    margin: 0px 10px;
                    background-repeat: round;
                }
            }
        }
        .pause-game {
            display: none;
        }
        .pause-game-active {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 600px;
            height: 600px;
            // filter: blur(3px);
            background-color: #00000085;
            position: absolute;
            .pause-game-active-btn {
                cursor: pointer;
                svg {
                    path {
                        transition-duration: 0.2s;
                    }
                }
            }
            .pause-game-active-btn:hover {
                svg {
                    path {
                        fill: rgb(160, 160, 160);
                    }
                }
            }
        }
    }
}

.message {

}

.puzzle-piece {
    cursor: pointer;
}