body {
  margin: 0;
  padding: 0;
  background: url("img/main-background.png");
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Sawarabi Mincho', sans-serif;
}

.puzzle-container {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.puzzle-container-place-for-info {
  margin: 30px 0px;
}

.puzzle-container-place-for-info-content {
  background: url("img/bakground-date.png");
  width: 626px;
  height: 104px;
  background-size: contain;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.puzzle-container-place-for-info-content-first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-left: 30px;
}

.puzzle-container-place-for-info-content-first span {
  color: white;
  font-size: 19px;
}

.puzzle-container-place-for-info-content-second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 30px;
}

.puzzle-container-place-for-info-content-second button {
  background: url("img/btn.png");
  border: none;
  color: white;
  font-size: 18px;
  width: 95px;
  height: 29px;
  cursor: pointer;
  border-radius: 50px;
}

.puzzle-container-content {
  background: url("img/main-field-bg.png");
  width: 600px;
  height: 600px;
  background-size: contain;
  background-color: rgba(61, 46, 60, 0.89);
  padding: 10px;
  position: relative;
}

.puzzle-container-content .puzzle-9 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
}

.puzzle-container-content .puzzle-9 .puzzle-piece-container {
  height: 200px;
  width: 200px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.puzzle-container-content .puzzle-9 .puzzle-piece-container .puzzle-piece {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(61, 46, 60, 0.95);
  border: 5px solid #DCA352;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 90px;
  -webkit-box-shadow: 0px 0px 5px 0px #00000080 inset;
          box-shadow: 0px 0px 5px 0px #00000080 inset;
  color: #DCA352F5;
}

.puzzle-container-content .puzzle-9 .puzzle-piece-container .puzzle-piece-correct {
  color: green;
}

.puzzle-container-content .puzzle-16 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  position: absolute;
}

.puzzle-container-content .puzzle-16 .puzzle-piece-container {
  height: 150px;
  width: 150px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.puzzle-container-content .puzzle-16 .puzzle-piece-container .puzzle-piece {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: rgba(61, 46, 60, 0.95);
  border: 5px solid #DCA352;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 90px;
  -webkit-box-shadow: 0px 0px 5px 0px #00000080 inset;
          box-shadow: 0px 0px 5px 0px #00000080 inset;
  color: #DCA352F5;
}

.puzzle-container-content .puzzle-16 .puzzle-piece-container .puzzle-piece-correct {
  color: green;
}

.puzzle-container-content .active-game-menu {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.puzzle-container-content .puzzle-blur {
  width: 600px;
  height: 600px;
  background-color: rgba(0, 0, 0, 0.349);
  position: absolute;
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.puzzle-container-content .puzzle-blur-mode {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.puzzle-container-content .puzzle-blur-mode span {
  margin-bottom: 15px;
  color: white;
  font-size: 25px;
}

.puzzle-container-content .puzzle-blur-mode-container-for-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.puzzle-container-content .puzzle-blur-mode-container-for-btns button {
  background: url("img/btn.png");
  border: none;
  color: white;
  font-size: 18px;
  width: 95px;
  height: 29px;
  cursor: pointer;
  border-radius: 50px;
  margin: 0px 10px;
}

.puzzle-container-content .puzzle-blur-mode-container-for-btns .mode-selection-active {
  -webkit-filter: brightness(70%);
          filter: brightness(70%);
}

.puzzle-container-content .puzzle-blur-start {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.puzzle-container-content .puzzle-blur-start button {
  background: url("img/btn.png");
  border: none;
  color: white;
  font-size: 18px;
  width: 135px;
  height: 33px;
  cursor: pointer;
  border-radius: 50px;
  margin: 0px 10px;
  background-repeat: round;
}
/*# sourceMappingURL=style.css.map */